.mat-divider {
    margin: 10px;
}

.mat-radio-button {
    margin: 10px;
}

.mat-raised-button {
    width: 40%;
    margin: 20px auto;
}

.mat-form-field {
    width: 85%;
    margin-bottom: 5px;
}

