<form [formGroup]="userForm" (ngSubmit)="save()">
  
  <h2 mat-dialog-title>Create User</h2>

  <mat-dialog-content>

      <mat-form-field>
        <input matInput placeholder="Customer Number" formControlName="custNum">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error>Please enter a valid email address.</mat-error>
      </mat-form-field>

      <div formGroupName="permissions">
        <h3>Application Access</h3>

        <h4>Barnum Central</h4>
        <mat-radio-group formControlName="barnumCentralAccess">
          <mat-radio-button value="0" name="None">None</mat-radio-button>
          <mat-radio-button value="1" name="Customer">Customer</mat-radio-button>
          <mat-radio-button value="2" name="Employee">Employee</mat-radio-button>
          <mat-radio-button value="3" name="Admin">Admin</mat-radio-button>
        </mat-radio-group>

        <h4>Barnum User Admin</h4>
        <mat-radio-group formControlName="userAdminAccess">
          <mat-radio-button value="0" name="None">None</mat-radio-button>
          <mat-radio-button value="3" name="Admin">Admin</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-divider></mat-divider>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" type="reset" (click)="close()">Close</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Save</button>
  </mat-dialog-actions>

</form>

