<div class="container">
    
  <mat-toolbar color="primary">
    <span>Barnum User Admin</span>

    <button *ngIf="!isAuthenticated" (click)="login()">Log In</button>
    <button *ngIf="isAuthenticated" (click) ="logout()">Log Out</button>

  </mat-toolbar>
  
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
  
</div>