<div *ngIf="users" class="wrapper">

    <div class="header">
        <h1>Users</h1>
        <button mat-raised-button color="accent" (click)="openAddUserDialog()">+ Add User</button>       
        <button mat-raised-button color="accent" (click)="addKitten(name.value)">+ Add Kitten</button>
        <button mat-raised-button color="accent" (click)="addTyler()">+ Add Tyler</button>

        <mat-form-field>
            <input matInput placeholder="Name" #name>
        </mat-form-field>
    </div>

    <mat-form-field>
        <input matInput (keyup)="filterUsers($event.target.value)"
        placeholder="Filter Users">
    </mat-form-field>

    <div class="mat-elevation-z8 data-table">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let user">{{user.id}}</td>
            </ng-container>
            <ng-container matColumnDef="custNum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer #</th>
                <td mat-cell *matCellDef="let user">{{user.custNum}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let user">{{user.email}}</td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                <td mat-cell *matCellDef="let user">{{user.firstName}}</td>
            </ng-container>
            <ng-container matColumnDef="connection">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Connection</th>
                <td mat-cell *matCellDef="let user">{{user.connection}}</td>
            </ng-container>
            <ng-container matColumnDef="loginNum">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Logins</th>
                <td mat-cell *matCellDef="let user">{{user.loginNum}}</td>
            </ng-container>
            <ng-container matColumnDef="latestLogin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Latest Login</th>
                <td mat-cell *matCellDef="let user">{{user.latestLogin}}</td>
            </ng-container>
            

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns" (click)="openEditUserDialog(row)"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>

</div>