.wrapper {
    width: 90%;
    margin: 20px auto;
}

.mat-form-field {
    font-size: 18px;
    width: 70%;
}

.header {
    display: flex;
}

button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 120px;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

tr:hover {
    background: #f5f5f5;
    cursor: pointer;
}

tr:active {
    background: #efefef;
}