//Theme file imported through angular.json
@import '~@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
$md-barnum-blue: (
    50 : #e6edf5,
    100 : #c1d3e6,
    200 : #98b5d6,
    300 : #6f97c5,
    400 : #5081b8,
    500 : #316bac,
    600 : #2c63a5,
    700 : #25589b,
    800 : #1f4e92,
    900 : #133c82,
    A100 : #b7ceff,
    A200 : #84acff,
    A400 : #518aff,
    A700 : #3779ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-barnum-orange: (
    50 : #fdf3e7,
    100 : #fae1c3,
    200 : #f7ce9c,
    300 : #f4ba74,
    400 : #f1ab56,
    500 : #ef9c38,
    600 : #ed9432,
    700 : #eb8a2b,
    800 : #e88024,
    900 : #e46e17,
    A100 : #ffffff,
    A200 : #ffede2,
    A400 : #ffceaf,
    A700 : #ffbf96,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bc-theme-primary: mat-palette($md-barnum-blue);
$bc-theme-accent: mat-palette($md-barnum-orange, 500, 900, A100);
$bc-theme-warn: mat-palette($mat-red);

$bc-theme: mat-light-theme($bc-theme-primary, $bc-theme-accent, $bc-theme-warn);
@include angular-material-theme($bc-theme);

